bin/
**/__pycache__
informe/*.log
informe/*.fls
informe/*.synctex.gz
informe/*.fdb_latexmk
informe/*.aux
informe/_minted-informe/
informe/*.out
informe/*.bcf
informe/*.bbl
informe/*.blg
informe/*.run.xml
